h2 {
    font: 15px;
    text-align: center;
    color: rgb(107, 72, 77);
}
img {
    width: 200px;
    height: 300px;
}
.linethrough {
    text-decoration: line-through
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}